/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ff66b2, #cc33ff);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/* Container utama */
.container {
  max-width: 200px;
  margin: auto;
  padding: 0.5rem;
}

/* Logo Token */
.logo {
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
  margin-bottom: 10rem;
}

/* Judul Halaman */
h1 {
  font-size: 8rem;
  margin-bottom: 2rem;
  animation: fade 0.5s ease-in;
}



/* Deskripsi Token */
p.description {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 0.5;
}



/* Tombol Aksi */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}



.btn {
  background: white;
  color: #cc33ff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #cc33ff;
  color: white;
}



/* Animasi Fade-in */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Responsif untuk HP */
@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .description {
    font-size: 4rem;
  }
  .logo {
    width: 160px;
  }
}
